/* smartphone portrait */


/* smartphone landscape */

/* end media query */

/* tablet portrait */

/* end media definition */

/* tablet landscape */

/* end media query */


/* Desktops and laptops ----------- */


/*----------- Responsive ---------- */

@media only screen and (min-width: 320px) and (max-width: 479px) {

    .mm-toggle-wrap {
        display: inline-block;
        position: absolute;
        top: 12px;
    }
    .mm-toggle {
        display: block;
    }
    .container-fluid {
        width: 100%;
    }
    #pixxett-api .header#header h1 {
        display: inline-block;
        margin-left: 32%;
    }
    #documenter_sidebar {
        display: none;
    }
    #pixxett-api .header-section-wrapper {
        margin-top: 59px;
    }
    #pixxett-api #background {
        display: none;
    }
    #pixxett-api .method .method-area:first-child .method-example {
        padding-top: 20px;
    }
    #pixxett-api .method-area-wrapper {
        padding: 0px;
        border: none;
    }
    #documenter_content {
        left: 0%;
        padding: 20px;
    }
    #pixxett-api .method .method-copy {
        padding: 0 0 20px;
        width: 100%;
    }
    #pixxett-api .method .method-example {
        padding: 20px 20px 20px 20px;
        margin-left: 0%;
    }
    #documenter_content > section {
        padding-bottom: 0px;
    }
    #pixxett-api .method .method-copy .method-copy-padding {
        padding: 20px 0px 20px 0px;
    }
    #pixxett-api .header-section.header-section-example {
        left: 0%;
        padding-left: 15px;
        width: 100%;
        padding-top: 3px;
    }
    #pixxett-api #language .language-toggle li .language-toggle-button {
        padding: 0 7px;
        border: 0px solid transparent;
        font-size: 11px;
        line-height: 27px;
    }
    .table-responsive {
        border-width: 0px !important;
    }
    #pixxett-api .method .method-example .table {
        margin: 0px 0px;
        max-width: inherit;
        overflow-x: auto;
    }
    #pixxett-api .method .method-copy .method-list {
        padding: 20px;
    }
    #pixxett-api .method .method-example .method-example-part {
        padding: 0px;
    }

}
@media only screen and (min-width: 480px) and (max-width: 767px) {

    .mm-toggle-wrap {
        display: inline-block;
        position: absolute;
        top: 12px;
    }
    .mm-toggle {
        display: block;
    }
    .container-fluid {
        width: 100%;
    }
    #pixxett-api header.header h1 {
        display: inline-block;
        margin-left: 15%;
    }
    #documenter_sidebar {
        display: none;
    }
    #pixxett-api .header-section-wrapper {
        margin-top: 59px;
    }
    #pixxett-api #background {
        display: none;
    }
    #pixxett-api .method .method-area:first-child .method-example {
        padding-top: 20px;
    }
    #pixxett-api .method-area-wrapper {
        padding: 0px;
        border: none;
    }
    #documenter_content {
        left: 0%;
        padding: 20px;
    }
    #pixxett-api .method .method-copy {
        padding: 0 0 20px;
        width: 100%;
    }
    #pixxett-api .method .method-example {
        padding: 20px 20px 20px 20px;
        margin-left: 0%;
    }
    #documenter_content > section {
        padding-bottom: 0px;
    }
    #pixxett-api .method .method-copy .method-copy-padding {
        padding: 20px 0px 20px 0px;
    }
    #pixxett-api .header-section.header-section-example {
        left: 0%;
        padding-left: 15px;
        width: 100%;
        padding-top: 1px;
    }
    .table-responsive {
        border-width: 0px !important;
    }
    #pixxett-api .header#header h1 {
        display: inline-block;
        margin-left: 38%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .mm-toggle-wrap {
        display: none;
    }
    #pixxett-api .dx-nav-0-link {
        font-size: 11px;
        margin-right: 15px;
    }
    #pixxett-api .dx-search-input {
        width: 150px;
    }
    #pixxett-api .dx-btn {
        font-size: 11px;
    }
    #documenter_sidebar ol a {
        padding: 6px 10px 6px 0;
        padding-left: 15px;
        font-size: 12px;
        line-height: 20px;
    }
    #documenter_sidebar {
        width: 187px;
    }
    #pixxett-api .method-area-wrapper {
        width: 100%;
    }
    #pixxett-api #background {
        left: 51%;
    }
    #pixxett-api #background .background-actual {
        left: 0%;
    }
    #pixxett-api .method .method-copy {
        padding: 0 0 20px;
    }
    #pixxett-api .method .method-copy h1 {
        font-size: 22px;
        line-height: 24px;
    }
    #documenter_content > section {
        padding-bottom: 30px;
    }
    #pixxett-api .method .method-copy .method-list {
        padding: 15px 15px 0;
    }
    #pixxett-api .method .method-copy .method-copy-padding {
        padding: 20px 15px 20px 0px;
    }
    #pixxett-api .method .method-example {
        padding: 45px 20px 20px 20px;
    }
    #pixxett-api .header-section-wrapper {
        margin-top: 59px;
        top: 0px;
    }
    #pixxett-api .header-section.header-section-example {
        left: 0%;
        padding-left: 15px;
        width: 100%;
        padding-top: 1px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

    .mm-toggle-wrap {
        display: none;
    }
    #documenter_sidebar {
        width: 242px;
    }
    #documenter_sidebar ol a {
        padding-left: 15px;
        font-size: 12px;
        line-height: 20px;
    }
    div.scrollholder, #documenter_sidebar ol {
        height: 100%;
    }
    #pixxett-api #background {
        left: 53.3%;
    }
    #pixxett-api .header-section.header-section-example {
        padding-left: 20px;
    }
    #pixxett-api #background .background-actual {
        left: 0%;
    }
    #documenter_content {
        padding: 10px 15px;
    }
    #documenter_content > section {
        padding-bottom: 30px;
    }
    #pixxett-api .method .method-copy .method-copy-padding {
        padding: 20px 15px 20px 0px;
    }
    #pixxett-api .method .method-copy h1 {
        font-size: 20px;
        line-height: 28px;
    }
    #pixxett-api .method .method-example {
        padding: 15px 20px 15px 20px;
    }
    #pixxett-api .method .method-area:first-child .method-example {
        padding-top: 35px;
    }
    #pixxett-api .method .method-copy {
        padding: 0 0 15px;
    }
    #pixxett-api h3 {
        font-size: 14px;
        line-height: 20px;
    }
    #pixxett-api .method .method-example .method-example-part {
        padding: 15px 0px;
    }
    #pixxett-api .method .method-example .method-example-part .method-example-declaration:before,
    #pixxett-api .method .method-example .method-example-part .method-example-endpoint:before,
    #pixxett-api .method .method-example .method-example-part .method-example-object:before,
    #pixxett-api .method .method-example .method-example-part .method-example-request:before,
    #pixxett-api .method .method-example .method-example-part .method-example-response:before {
        font-size: 12px;
    }
}
@media (min-width: 1200px) {

    #pixxett-api .method .method-copy .method-list .method-list-group .method-list-item {
        zoom: 1;
    }
    #pixxett-api .method .method-copy .method-list .method-list-group .method-list-item:after,
    #pixxett-api .method .method-copy .method-list .method-list-group .method-list-item:before {
        content: "";
        display: table;
    }
    #pixxett-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label {
        width: 180px;
    }
    #pixxett-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label {
        position: relative;
        z-index: 5;
        float: left;
        text-align: right;
    }
    #pixxett-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description {
        margin: 0 0 0 200px;
    }
    #pixxett-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description {
        position: relative;
        z-index: 10;
        background: #fff;
    }
    #pixxett-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-label-details,
    #pixxett-api .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-validation {
        display: block;
    }

}